body{
    margin:0;
    text-align: center;
    background-color: blanchedalmond;
}

.menu{
    list-style: none;
    position: fixed;
    top: 0px;
    width: 100%;
    cursor: pointer;
    z-index: 10;
    margin-bottom: 50px;
    background-color: #fbffcc;
}

.links{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    display: inline;
    text-decoration: none !important;
    text-shadow: 2px 2px gainsboro;
}

.links: hover{
    font-size: 30px;
    text-decoration: underline;
}

html{
    scroll-behavior: smooth;
}

#intro{
    padding-top: 100px;
    font-family: fantasy;
    font-size: 50px;
}

#gridView{
    padding-top: 40px;
}

.imgs{
    height: 200px;
    width: 200px;
}

#slideView{
    height: 500px;
}

.carousel-content{
    font-size: 30px;
}

.img-responsive{
    height: 300px;
    width: 300px;
}
